@import url('https://fonts.googleapis.com/css2?family=Roboto:wght@700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Open+Sans:ital@0;1&display=swap');


.wrapper {}

.conteiner {
    max-width: 740px;
    margin-left: auto;
    margin-right: auto;
}

.page {}


.subheading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 30px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.115em;
    text-transform: uppercase;
    color: #C02521;
    text-shadow: 0px 0px 10px #C02521;
}

.text {
    font-family: 'Open Sans';
    font-weight: 400;
    font-size: 16px;
    line-height: 130%;
    text-align: center;
}

.italic {
    font-style: italic;
}


.page__html {
    margin-bottom: 50px;
}

.html {}

.html__heading {
    font-family: 'Roboto', sans-serif;
    font-weight: 700;
    font-size: 60px;
    line-height: 117%;
    text-align: center;
    letter-spacing: 0.15em;
    color: #C02521;
    text-shadow: 0px 0px 10px #C02521, 0px 0px 18px #E8C60C;

    margin-bottom: 10px;
}

.html__text {
    margin-bottom: 15px;
}

.html__color {
    color: #E8C60C;
}

.html__desc {}


.page__info {
    margin-bottom: 50px;
}

.info {}

.info__subheading {
    margin-bottom: 20px;
}

.info__text {}

.info__color {
    color: #074F99;
}


.page__browsers {}

.browsers__subheading {
    margin-bottom: 25px;
}

.browsers__text {
    margin-bottom: 20px;
}

.browsers__color {
    color: #DE721A;
}

.browsers__wrap-image {
    text-align: center;

    margin-bottom: 19px;
}

.browsers__image {}

.browsers__list {
    font-family: 'Open Sans', sans-serif;
    font-weight: 600;
    font-size: 20px;
    line-height: 130%;
    letter-spacing: 0.015em;
}

.browsers__item {
    margin-bottom: 6px;
}

.browsers__item:last-child {
    margin-bottom: 0;
}

.browsers__item:nth-child(1) {
    color: #E8C60C;
}

.browsers__item:nth-child(2) {
    color: #0A5408;
}

.browsers__item:nth-child(3) {
    color: #C22723;
}

.browsers__item:nth-child(4) {
    color: #7999B6;
}

.browsers__item:nth-child(5) {
    color: #074F99;
}